<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datasafe-Add your apps to get data</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="apps.css">
</head>
<body>
    <div class="main">
        <div class="mainimg">
            <img src="images/markus-spiske-hvSr_CVecVI-unsplash.jpg" alt="">
          </div>
        <div class="container">
            <header>
                <h1>Datasafe-Add your apps to get data</h1>
            </header>
            <div class="app-list">
                <div class="app-item">
   
                        
                 <form action="/auth/google">
    
                    <button class="btn google" method="post" type="submit" >
                        
                        
                        <img class="app-logo" src="https://banner2.cleanpng.com/20180423/gkw/avesbl6oq.webp" alt="Google Logo">
                        Sign in with Google
            
                    </button>
                </form>
                </div>
                <div class="app-item">
             
                        
            More apps coming soon
                </div>
                <div class="app-item">
   
                        
                    <form action="/dashboard">
       
                       <button class="btn dashlink" method="get" type="submit" >
                           
                                               Go to DashBoard
               
                       </button>
                   </form>
                   </div>
            </div>
            <div class="footer">
                <p>Not your computer? Use Guest mode to sign in privately.</p>
                <p><a href="#">Learn more</a></p>
            </div>
            <a href="/logout" method="post" class="login-button">Logout and Go Back to HomePage</a>
        </div>
    </div>    
</div>
</body>
</html>