<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSafe-your Solution to all Data Problems</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mainimg">
        <img src="images/tim-schmidbauer-TE_lOmkKq04-unsplash.jpg" alt="">
    </div>
    <div class="maincontent">
        <div>
        <h1>Welcome to DataSafe</h1>
        <p>We are here to help you keep your data safe</p>
    </div>
    <div class="btns">
        <a type="submit" method="get" href="/login" class="btn">Login</a>
        <a type="submit" method="get" href="/signup" class="btn">Sign up</a>
    </div>
    </div>
</body>
</html>