<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-make your step into the world of data</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="loginstyle.css">
</head>
<body>
  <div class="main">
  <div class="mainimg">
    <img src="images/tim-schmidbauer-TE_lOmkKq04-unsplash.jpg" alt="">
  </div>
  <div class="login-container">
    <h2>Sign up </h2>
    <form action="/signup" method="post">
      <div class="form-group">
        <input type="email" name="username" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" value="Login" class="login-button">
          Sign up
        </button>
      </div>
    </form>
    <a href="/" class="login-button">Go Back to HomePage</a>
  </div>
</div>
</body>
</html>